.collaborations-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 8rem;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaborations-container h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 15px;
}

.underlineCollaborationsCarousel {
  width: 10%;
  height: 4px;
  background-color: #0629B7;
  margin: 10px auto 30px auto; /* Top, horizontal auto-center, bottom */
}

.carousel {
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  position: relative;
  display: flex;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin: 0 1rem;
  flex-shrink: 0;
}

.carousel-slide img {
  max-width: 8vw;
  max-height: 10vh;
  object-fit: contain;
}

@media (max-width: 768px) {
  .collaborations-container {
    padding: 1rem;
  }

  .collaborations-container h2 {
    font-size: 1.5rem;
    color: black;
  }

  .underlineCollaborationsCarousel {
    width: 20%;
  }

  .carousel-slide {
    min-width: 120px;
    margin: 0 1rem;
  }

  .carousel-slide img {
    max-width: 40vw;
    max-height: 30vh;
  }
}
